<div class="jumbotron">
    <h1 class="text-center">Eat the Burger!</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="cool-font">Enter the burger</p>
            <div class="blue-border"><input class="form-control" type="text" id="burgerName" placeholder="Cheeseburger">
            </div>
            <br>
            {{!-- <p class="cool-font">Update burger</p>
            <textarea class="form-control" rows="3" id="updateBurger" placeholder="Enter burger Here!"></textarea> --}}
            <button id="burger-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
        <br>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {{#each burgers}}
            <div class="card">
                <div class="white-border">
                    <p class="cool-font"><strong> {{burger_name}}</strong></p>

                    <ul>
                        <li>
                            <p>burger_name: {{this.burger_name}}</p>
                            <p>id: {{this.id}}</p>
                            <p>devoured: {{devoured}}</p>
                        </li>
                    </ul>
                    <div> <button class="btn devouredBtn btn-lg pull-right">Devour the Burger!</button>
                    </div>
                </div>
            </div><br>
            {{/each}}
        </div>
    </div>
</div>