bu
<!-- 5. Output the burgerType string, pet boolean and fierceness number to the page for all the burgers. -->
<ul>
    {{#each burgers}}
    <li>

        <p>burger_name: {{burger_name}}</p>
        <p>id: {{id}}</p>
        <p>devoured: {{devoured}}</p>
    </li>
    {{/each}}
</ul>