body {
height: 100%;
background-color: #f2cb1d;
}

.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: #1da1f2;
}

.jumbotron {
  font-family: Shrikhand, cursive;
  /* color: white; */
  color: #f2cb1d;
  background-color: #1da1f2;
}

input,
textarea {
  margin: 20px;
}

.btn {
  margin: 10px;
  font-family: Shrikhand, cursive;
  color: #f2cb1d;
  background-color: #1da1f2;
  border: solid 5px white;
  border-radius: 10px;
}
.white-border{
  border: solid 5px  white;
  border-radius: 10px;
}
.blue-border{
  border: solid 5px  #1da1f2;
  padding: 4px;
  border-radius: 10px;
}
.form-control {
  /* border: solid 5px  #1da1f2; */
  border-radius: 4px;
  padding: 0;
  margin:0;
}

.card{
  padding: 5px;
  font-family: Shrikhand, cursive;
  background-color: #f2cb1d;
  border-color: #1da1f2;
  color: #1da1f2;
  border: solid 5px  #1da1f2;
  border-radius: 12px;
}

p {
  margin: 0;
  font-size: 16px;
} 
